# [Day one](https://adventofcode.com/2023/day/1)

In [204]:
import re
from functools import reduce

In [205]:
# Read inputs
with open("input") as f:
    input = f.readlines()

print(len(input))

1000

In [206]:
def handel_line(line: str) -> int:
    clean_line = re.sub("[a-z\n]", "", line)
    return int(f"{clean_line[0]}{clean_line[-1]}")

[(handel_line(l), l) for l in input[0:5]]

[(44, '46threevqs8114\n'),
 (11, 'threetwoonez1gtrd\n'),
 (66, '6ffxbtff\n'),
 (79, '769twotwo6rv9\n'),
 (82, 'gjrcjrkvghthreegqqrg82qbct\n')]

In [207]:
# extract number from line
numbers = [handel_line(l) for l in input]
print("len", len(numbers))
numbers[0:50:10]

len 1000

[44, 49, 37, 47, 88]

In [208]:
sum(numbers)

53194

## Part 2

In [247]:
number_keys = [
    "zero",
    "one",
    "two",
    "three",
    "four",
    "five",
    "six",
    "seven",
    "eight",
    "nine",
]
pattern = reduce(lambda n, val: f"{n}|{val}", number_keys)
value_pair = {key: str(value) for value, key in enumerate(number_keys)}
# value_pair, pattern

In [252]:
def convert_number_to_string_value(line: str) -> str:
    return re.sub("[0-9]", lambda match: number_keys[int(match.group())], line)


def extract_numbers_from_text(line: str) -> str:
    val_pos = []
    for val in number_keys:
        current_val_pos = line.find(val)
        while current_val_pos > -1:
            val_pos.append((val, current_val_pos))
            current_val_pos = line.find(val, current_val_pos + 1)
    val_pos.sort(key=lambda v: v[1])
    return [value_pair[w] for w, _ in val_pos]


def handel_line_2(line: str):
    values = extract_numbers_from_text(convert_number_to_string_value(line))
    return int(f"{values[0]}{values[-1]}")


testStr = "eightwonethree9"
testStr, convert_number_to_string_value(testStr), extract_numbers_from_text(
    convert_number_to_string_value(testStr)
), handel_line_2(testStr)

('eightwonethree9', 'eightwonethreenine', ['8', '2', '1', '3', '9'], 89)

In [253]:
# extract number from line
numbers = [handel_line_2(l) for l in input]
print("len =", len(numbers))
[(numbers[ix], input[ix]) for ix in range(len(input[:10]))]

len = 1000

[(44, '46threevqs8114\n'),
 (31, 'threetwoonez1gtrd\n'),
 (66, '6ffxbtff\n'),
 (79, '769twotwo6rv9\n'),
 (32, 'gjrcjrkvghthreegqqrg82qbct\n'),
 (88, 'zkxjhgprtrlcfeight795five8\n'),
 (95, '99seven3vdcgvmvxtjtwodc5\n'),
 (33, 'three5eightthree3four3vtkkqrgxs\n'),
 (41, 'four863mrrnrsxrkone\n'),
 (71, 'sevenntgvnrrqfvxh2ttnkgffour8fiveone\n')]

In [244]:
sum(numbers)

54249